{% extends "heading.html" %}

{% block content %}
    {% for post in posts %}
    <div class="posts">
    <p class = "post">
        {% include '_post.html' %}
        </p>
        {% if current_user.is_authenticated %}
            <p class = "new_comment">
                {% include 'new_comment.html' %}
            </p>
        {% endif %}
        {% for comment in post.comments %}
            <p>
                {% include '_comment.html' %}
            </p>
        {% endfor %}
    
    {% endfor %}
    {% if prev_url %}
        <a style="padding-left: 2vw;" href="{{ prev_url }}">Newer posts</a>
    {% endif %}
    {% if next_url %}
        <a style="padding-left: 2vw;" href="{{ next_url }}">Older posts</a>
    {% endif %}
    </div>
{% endblock %}
