{% extends "heading.html" %}

{% block content %}
    {% if current_user.is_anonymous %}
    <h1 class="greeting">Hi!</h1>
    {% else %}
    <h1 class = "greeting">Hi, {{ current_user.username }}!</h1>
    {% endif %}
    {% for post in posts %}
    <p class = "post">
    {% include '_post.html' %}
    </p>
    {% endfor %}
    {% if prev_url %}
    <a href="{{ prev_url }}">Newer posts</a>
    {% endif %}
    {% if next_url %}
    <a href="{{ next_url }}">Older posts</a>
    {% endif %}
{% endblock %}
